<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Successful Registration</title>
  </head>
  <body>
    <div class="container">
      <h3>Registration was a success!</h3>
      <a href='/'><button type="button" class="btn btn-primary">Go Back</button></a>
    </div>
  </body>
</html>
